body {
	min-height: 100vh;
}

profiles, banana-ninja {
	width: 100vw;
	height: 100vh;
}

// Styling the banana game.

#gameBoundingBox, #gameBoundingBox * {
    display: initial;
}


#gameBoundingBox{
    position: relative;
    width: 100%;
    margin-top: 5vh;
    transform: scale(0.8);

}

#gameWithDecoration{
    position: absolute;
    background-color: red;
    width:800px;
    height:480px;
    left: 50%;
    top: 250px; 
    -webkit-transform: translate(-50%, 0%); 
    transform: translate(-50%, 0%);
}

#head{
    position: absolute;
    top:350px;
    width:600px;
    height:600px;
    left:50%;
    -webkit-transform: translate(-50%, 0%); 
    transform: translate(-50%, -100%);
    z-index:-1;
}

#leftHand{
    position: absolute;
    left:120px;
    width:300px;
    height:300px;
    -webkit-transform: translate(-100%, 50%); 
    transform: translate(-100%, 50%);
    z-index:2;
}

#rightHand{
    position: absolute;
    right:120px;
    width:300px;
    height:300px;
    -webkit-transform: translate(100%, 50%); 
    transform: translate(100%, 50%);
    z-index:2;
}

#gameCanvas{
    border: 5px solid black;
    position: absolute;
    background-color: white;
    width:100%;
    height:100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%);
    z-index:1;
    cursor: grab;
}


.column {
  float: right;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 29px;
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.cgbutton {
  background-color: #E25054;
  border: none;
  padding: 1em;
  color: white;
  font-family: regular;
  border-radius: 5px;
}

.cgbutton:hover{
  background-color: #ed9194;

}

.gamestyling{
  border-bottom: 2px solid black;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  height: 400px;
  background-color: #e25054;
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

#tagsfilter{
  height: 30px;
}

.title {
  color: white;
}
