$fa-font-path: "../bower_components/font-awesome/fonts";

@import '../bower_components/font-awesome/scss/font-awesome';
@import '../assets/mixins/_shadow.scss';

@font-face {
    font-family: "Regular";
    src: url("../assets/fonts/sourcecodeproregular.otf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: url("../assets/fonts/SourceCodePro-Bold.otf") format("truetype");
}

$blue: #77C4D7;
$green: #91C24D;
$red: #E25054;

/**
 * App-wide Styles
 */

* {
  box-sizing: border-box;
}
//
// .angular-google-map {
//   display: block;
//   margin-top: 10vh;
//   margin-right: 50vw;
// }
.gmnoprint * {
  display: block;
}

.gmnoprint .gm-style-mtc {
  display: none;
}

 #map, .angular-google-map-container {
   height: 40vh;
   width: 32vw;
   margin-top: 20vh;
   margin-left: 10vw;
   margin-right: 10vw;
}

 .gorillaAddress {
  font-weight: bold;
  position: absolute;
  margin-top: 65vh;
  margin-left: 70vw;
}

.gorillaCall {
  position: absolute;
  margin-top: 80vh;
  margin-left: 71vw;
  height: 10px;
  width: 10px;
}

section {
  height: 100vh;
  width: 100vw;
}


navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  z-index: 999;
  transition: all .4s ease-in-out;


  ng-md-icon {
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-top: 2.5vh;
    background-color: transparent;
    fill: $red;
  }

  ng-md-icon[icon=clear] {
    fill: #fff;
  }

  nav {
  	position: absolute;
  	top: 0;
  	left: 50%;
  	right: 50%;
  	height: 0;
    overflow: hidden;
    border-radius: 50%;
    transition: .4s ease-in-out all;
  }

  nav.open {
    z-index: -1;
    position: absolute;
    top: 0;
  	left: 0;
    right: 0;
  	height: 100vh;
    border-radius: 0;
    background-color: $red;
  }


    .socialButton {
      height: 3vh;
      width: auto;
    }

    .socialWrapper {
      margin-top: 15px;
      margin-bottom: auto;
      margin-left: 87vw;
      margin-right: 3vw;
      display: block;
      position: absolute;
    }



  .blue-button {
    width: 10vw;
  }

  ul {
    list-style-type: none;
  }



  //
  // .testImage {
  //   margin-top: 20vh;
  //   margin-right: 70vw;
  //   height: 30%;
  // }


  //
  // .linkbutton {
  //     background-color: $blue;
  //     border: 4px solid $blue;
  //     color: #FFF;
  //     @include long-shadow(text, darken($blue, 5), 20, false, false, right);
  // }
  //
  // .linkbutton.test:hover {
  //   background-color: lighten($blue, 3%);
  //   @include long-shadow(text, darken($blue, 5), 5, false, false, right);
  //   transform: scale(1.05);
  // }
  //
  // .linkbutton a {
  //   color: #000;
  //   text-decoration: none;
  // }
  //
  //
	// .linkbutton {
	// 	list-style-type: none;
	// 	margin: 0;
	// 	padding: 0;
  //
  //
		li {
			font-size: 1.8rem;
		}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin';
@import 'contact/contact';
@import 'main/main';
@import 'profile/profile';
@import 'success/success';
@import 'timeline/timeline';
@import '../components/footer/footer';
/* endinject */
