// Font imports

$fa-font-path: "../bower_components/font-awesome/fonts";

@import '../bower_components/font-awesome/scss/font-awesome';

@import '../assets/mixins/_shadow.scss';

@font-face {
  font-family: "Regular";
  src: url("../assets/fonts/sourcecodeproregular.otf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: url("../assets/fonts/SourceCodePro-Bold.otf") format("truetype");
}

// SCSS variables

$blue: #77C4D7;
$green: #91C24D;
$red: #E25054;
$dark-red: darken($red, 8%);

// Global styles

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Regular';
}

div[ui-view] {
  min-height: 100vh;
}

:focus {
  outline: 0;
}

div {
  display: flex;
}

h3 {
  font-size: 1.8em;
  color: #FFF;
}

section {
  height: 100vh;
  width: 100vw;
}

.red-bg {
  background-color: $red;
}

.green-bg {
  background-color: $green;
}

.blue-bg {
  background-color: $blue;
}

navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8vh;
  z-index: 999;
  transition: all .4s ease-in-out;

  & > ng-md-icon {
    cursor: pointer;
    display: flex;
    width: 36px;
    height: 36px;
    font-size: 36px;
    z-index: 999;
    margin: auto;
    margin-top: 2.5vh;
    background-color: transparent;
    fill: #FFF;
  }

  nav {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 50%;
    right: 50%;
    height: 0;
    transition: all .4s ease-in-out;
    border-radius: 50%;
    overflow: hidden;

    .menu {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin: .5em 0;
        display: flex;
      }

      .md-button.red-button {
        background-color: $red;
        border: 4px solid $red;
        border-radius: 5px;
        color: #FFF;
        @include long-shadow(text, darken($red, 5), 20, false, false, right);
      }

      .md-button.red-button:hover {
        background-color: lighten($red, 3%);
        @include long-shadow(text, darken($red, 5), 5, false, false, right);
        transform: scale(1.05);
      }

      .md-button.blue-button {
        background-color: $blue;
        border: 4px solid $blue;
        border-radius: 5px;
        color: #FFF;
        @include long-shadow(text, darken($blue, 5), 20, false, false, right);
      }

      .md-button.blue-button:hover {
        background-color: lighten($blue, 3%);
        @include long-shadow(text, darken($blue, 5), 5, false, false, right);
        transform: scale(1.05);
      }
    }

    .socialButton {
      height: 3vmax;
      width: auto;
    }

    .social-buttons {

      width: 32vw;

      a {
        margin: 0 auto;
      }
    }

    .socialWrapper {

      ng-md-icon {
        margin: 0 !important;
      }

    }

    .cg-address {
      margin-left: 9vw;
      color: #fff;
    }

    .blue-button {
      margin: 1em auto;
      font-size: 16px;
      width: 35vw;
    }

    a {
      color: #Fff;
      list-style-type: none;
      text-decoration: none;
    }

    ul {
      list-style-type: none;
    }


    li {
      font-size: 1.8rem;
    }
  }
}

nav.open {
  left: 0;
  right: 0;
  height: 100vh;
  border-radius: 0;
  background-color: $red;

  .hamburger {
    fill: #FFF;
  }

}

// Google Maps

.gmnoprint * {
  display: block;
}

.gmnoprint .gm-style-mtc {
  display: none;
}

#map, .angular-google-map-container {
  height: 40vh;
  width: 32vw;
}

// Menu styling

// Media queries

@media (min-width: 599px) {
  .gorillaAddressHidden {
    display: none;
  }
}

@media (max-width: 599px) {

  navbar nav .blue-button {
    width: 80vw;
  }

  navbar nav .menu {
    li {
      width: 80vw;
      margin: 0;
    }
  }

  navbar nav .socialWrapper {
    margin: 0 !important;
    top: 15%;
    left: 80%;
    width: 18vw;
    right: 2vw;
    height: auto;
    display: flex;
    position: absolute;
  }

  navbar nav .socialButton {
    height: 5vmax;
    width: auto;
    margin: 2vmax 0;
  }
}

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'contact/contact';
@import 'main/main';
@import 'profile/profile';
@import 'registration/registration';
@import 'success/success';
@import 'timeline/timeline';
@import '../components/footer/footer';
/* endinject */
