
<nav ng-class="{open: nav.isCollapsed }" layout="column">
   <div layout="row" flex="100" layout-fill>
   <ul class="menu" class="linkbutton" class="test" layout="column" flex="50" layout-align="space-around center">
     <li flex="10" ng-repeat="item in nav.menu" ui-sref="{{item.state}}">
       <md-button class="blue-button">{{item.title}}</md-button>
     </li>
   </ul>

     <!-- social media buttons -->
   <div class="socialWrapper" layout="row" flex="50" layout-fill layout-align="end start">

     <a ng-href="https://www.facebook.com/CodeGorillaNL/" target="_blank">
       <img class="socialButton" src="../socialmedia/facebook.png"/></a>
     <a ng-href="https://www.linkedin.com/company-beta/17908501/" target="_blank">
       <img class="socialButton" src="../socialmedia/linkedin.png"/></a>
     <a ng-href="https://www.youtube.com/channel/UCs1QNZLADeK7EIQtfzQkgMw" target="_blank">
       <img class="socialButton" src="../socialmedia/youtube.png"/></a>
     <a ng-href="https://twitter.com/search?q=codegorilla&src=typd&lang=nl" target="_blank">
       <img class="socialButton" src="../socialmedia/twitter.png"/></a>
   </div>

<div class="gorillaMap">
    <ui-gmap-google-map layout-align='center center' center='nav.map.center' zoom='nav.map.zoom' options='nav.options'></ui-gmap-google-map>
</div>

</nav>

<ng-md-icon class="hamburger" icon="{{nav.clickIcon}}" ng-click="nav.expandMenu()" size="36"></ng-md-icon>
