section {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Regular';
  background-color: $green;
}

.contact-form {
  padding: 100px 50px;
}

.contact-right {
  padding: 100px 50px;
}

.images-contact {
margin-top: auto;
}

span {
  text-shadow: 1px 1px darken($blue,30%);
}

textarea {
  text-shadow: 1px 1px darken($blue,30%);
}

input {
  text-shadow: 1px 1px darken($blue,30%);
}


.send-btn {
  color: #FFF;
  text-decoration: none;
  @include long-shadow(text, darken($green, 5), 15, true, true, right);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFF;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #FFF;
}

@media only screen and (max-width:1280px) {
	section {
		height: auto;

    .images-contact {
    margin-top: 1.5%;
    }

    .contact-form {
      padding: 90px 45px;
    }

    .contact-right {
      padding: 90px 45px;
    }

    p {
      font-size: 1.2em;
    }

    .contact-footer {
      font-size: 1.2em;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:    #FFF;
        font-size: 1.2em;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #FFF;
       opacity:  1;
       font-size: 1.2em;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #FFF;
       opacity:  1;
       font-size: 1.2em;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #FFF;
       font-size: 1.2em;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    #FFF;
       font-size: 1.2em;
    }
	}
}

@media only screen and (max-width:1024px) {
	section {
		height: auto;

    .images-contact {
    margin-top: 1.5%;
    }

    .contact-form {
      padding: 80px 40px;
    }

    .contact-right {
      padding: 80px 40px;
    }

    p {
      font-size: 1.1em;
    }

    .contact-footer {
      font-size: 1.1em;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:    #FFF;
        font-size: 1.1em;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #FFF;
       opacity:  1;
       font-size: 1.1em;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #FFF;
       opacity:  1;
       font-size: 1.1em;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #FFF;
       font-size: 1.1em;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    #FFF;
       font-size: 1.1em;
    }
	}
}

@media only screen and (max-width:768px) {
	section {
		height: auto;

    .images-contact {
    margin-top: 1.2%;
    }

    .contact-form {
      padding: 70px 35px;
    }

    .contact-right {
      padding: 70px 35px;
    }

    p {
      font-size: 0.9em;
    }

    .contact-footer {
      font-size: 0.9em;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:    #FFF;
        font-size: 0.9em;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #FFF;
       opacity:  1;
       font-size: 0.9em;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #FFF;
       opacity:  1;
       font-size: 0.9em;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #FFF;
       font-size: 0.9em;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    #FFF;
       font-size: 0.9em;
    }
	}
}

@media only screen and (max-width:600px) {
	section {
		height: auto;

    .images-contact {
    margin-top: 1.1%;
    }

    .contact-form {
      padding: 60px 30px;
    }

    .contact-right {
      padding: 60px 30px;
    }

    p {
      font-size: 0.8em;
    }

    .contact-footer {
      font-size: 0.8em;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:    #FFF;
        font-size: 0.8em;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #FFF;
       opacity:  1;
       font-size: 0.8em;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #FFF;
       opacity:  1;
       font-size: 0.8em;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #FFF;
       font-size: 0.8em;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    #FFF;
       font-size: 0.8em;
    }
	}
}

@media only screen and (max-width:400px) {
	section {
		height: auto;

    .images-contact {
    margin-top: 1%;
    }

    .contact-form {
      padding: 40px 10px;
    }

    .contact-right {
      padding: 40px 10px;
    }

    p {
      font-size: 0.7em;
    }

    label {
      font-size: 0.7em;
    }

    .contact-footer {
      font-size: 0.55em;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color:    #FFF;
        font-size: 0.7em;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    #FFF;
       opacity:  1;
       font-size: 0.7em;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #FFF;
       opacity:  1;
       font-size: 0.7em;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #FFF;
       font-size: 0.7em;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    #FFF;
       font-size: 0.7em;
    }
	}
}
