<section flex=layout="column" layout-align="center center">
<section layout="row" layout-align="space-around center">
  <div class="contact-form" layout="column">
    <h1 style="font-family": 'Bold' >"contact" </h1>
    <p>We kunnen ons voorstellen dat je nog vragen hebt, deze kun je stellen via onderstaand contact formulier.</p>
    <md-input-container>
      <label>Naam</label>
      <input type="text" ng-model="form.name">
    </md-input-container>
    <md-input-container>
      <label>Mailadres</label>
      <input type="email" ng-model="form.mail">
    </md-input-container>
    <textarea ng-model="form.message" placeholder="Bericht" rows="8"></textarea>
    <div ng-show="$ctrl.mailStatus" layout="row" style="color: red;" flex="1">
      {{$ctrl.mailStatus}}
    </div>
    <md-button ng-click="$ctrl.sendForm(form)" style="max-width: 33%" class="btn-green">Verzenden</md-button>
  </div>
<section flex="30" layout="row" layout-align="center end">
  <div>
    <div>

    </div>
    <p> CodeGorilla Baander 8 7811 MJ Emmen<ng-md-icon icon="phone"></ng-md-icon>0591-123456</p>
  </div>
</section>
