// Main page above fold

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cg-startpage {
  background-color: $blue;
  background-size: contain;
  background-blend-mode: soft-light;
  height: 100vh;
  width: 100vw;
  padding: 10%;
  position: relative;


  p {
    margin: 0.5em;
  }

  .cg-title {
    font-family: 'Bold';
    color: black;
    font-size: 2.5em;
    font-weight: bold;
  }

  .cg-tag{
    font-family: 'Regular';
    font-size: 1.8rem;
    text-shadow: 1px 1px darken($blue, 30%);
    color: #FFF;
  }

  .cg-hidden-monkey {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0.1;
    max-width: 15vmax;
  }
}

// Main page below fold

.cg-below-fold {

  flex: 1 0 auto;
  flex-wrap: wrap;

  .cg-video-container {
    max-width: 60vw;
    width: 60vw;
    height: 100%;
    background-color: #000;

    video {
      max-width: 60vw;
      width: 60vw;
      align-self: flex-end;
    }
  }
}

.cg-main-row {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 60%;
}

.cg-mbp {
  flex: 1 0 60%;
  min-height: 45vmin;
  height: auto;
  background: url('/assets/images/coding.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
}

.cg-text-block {
  padding: 5%;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40%;

  h3 {
    margin-top: 0;
  }
}

.signature {
  width: 30%;
  height: auto;
  margin-left: auto;
}

.progress-wrapper {
  background-image: url('/assets/images/monkey_programming.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  flex: 1 0 60%;
  min-height: 45vmin;
  height: auto;

  .progress {
    background-color: #FFF;
    border: 2px solid #000;
    height: 28px;
    border-radius: 14px;
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;

    span {
      margin-left: auto;
      margin-right: 20px;
      color: #000;
    }
  }

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 14px;
    background-color: $red;
  }

}

.tosti {
  font-family: sans-serif;
  font-size: 1.2em;
  text-shadow: 1px 1px darken($red, 30%);
  color: #ffffff;
}

.brood {
  font-family: sans-serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px darken($green, 30%);
  color: #ffffff;
}

.stokbrood {
  font-family: sans-serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px darken($blue, 30%);
  color: #ffffff;
}

.stokbrood1 {
  border-top-style: solid;
  border-width: 0px;
  border-color: $blue;
  font-family: sans-serif;
  font-size: 0.9rem;
  text-shadow: 1px 1px darken($blue, 30%);
  color: #77C4D7;
}

h3.red{
  @include long-shadow(text, darken($red, 5), 15, false, false, right);

}

h3.green{
  @include long-shadow(text, darken($green, 5), 15, false, false, right);
}

h3.blue{
  @include long-shadow(text, darken($blue, 5), 15, false, false, right);
}

.md-button.test {
    background-color: $red;
    border: 4px solid $red;
    border-radius:5px;
    color: #FFF;
    @include long-shadow(text, darken($red, 5), 20, false, false, right);
}

.md-button.test:hover {
  background-color: lighten($red, 3%);
  @include long-shadow(text, darken($red, 5), 5, false, false, right);
  transform: scale(1.05);
}

.md-button a {
  color: #000;
  text-decoration: none;
}

#linkedin_button{
    background: url(../../assets/images/Sign-In-Small---Default.png) no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    border: none;
    width: 290px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#linkedin_button:hover{
    background: url(../../assets/images/Sign-In-Small---Hover.png) no-repeat;
    background-size: contain;
    background-position: center;
}

#linkedin_button:active{
    background: url(../../assets/images/Sign-In-Small---Active.png) no-repeat;
    background-size: contain;
    background-position: center;
}

#linkedin{
    margin-top: 15px;
    position: center;
}

.margin-contact {
  padding: 5%;
}

.video-row {
  background-color: black;

  video {
    height: 100%;
  }
}

span {
  font-weight: normal;
}

.quote {
  position: relative;
  left: 50%;
  top: 50%;
}

.fold1 {

  min-height: 100vh;
  height: auto;
  flex-flow: row nowrap;
  background-color: $red;

  div {
    padding: 3% 5%;
  }

  .md-button {
    width: 20%;
  }

  .green {
    background-color: $green;
  }

  p {
    line-height: 1.4;
  }

  // .quote {
  //   max-width: 100%;
  //   height: auto;
  //   align-self: center;
  //   transform: rotate(3deg);
  // }

  .quote-text {
    transform: rotate(3deg);
    color: #fff;
  }

  .quote-text-black {
    transform: rotate(3deg);
    font-family: 'bold';
    color: #000;
  }
}

.md-button {
  font-family: Bold;
  border-radius: 0;
  margin: 0;
  margin-top: 1em;
  padding: 0 1em;
}

.btn-red {
  background-color: $red;
  color: #FFF;
}

.btn-blue {
  background-color: $blue;
  color: #FFF;
}

.btn-green {
  background-color: $green;
  color: #FFF;
}

.btn-border {
  border: 2px solid #000;
  color: #000;
  margin-top: auto;
}

h1 {
  font-family: Bold;
  display: flex;
  height: 2.9rem;
  font-size: 2.5rem;
}

h2 {
  font-family: Bold;
  display: flex;
  height: 2rem;
  font-size: 2.2rem;
  margin: .2em 0;
}

.fold1 h2:first-of-type {
  margin-bottom: 0;
}

.fold2 {
  min-height: 100vh;

  .gorilla {
    max-height: 10vh;
    width: auto;
  }

  .block {
    display: flex;
    margin-top: 2.5vh;
    width: 30vh;
    height: 30vh;
    padding: 2%;
  }
}

.signup-form {
  background-color: $red;
  height: 100vh;
  width: 100vw;

  div h3{
      color: #000;
  }
}


.login-form {
  background-color: $green;
  height: 100vh;
  width: 100vw;

  & > * {
    width: 40vmax;
  }
}

.settings {
  min-height: 100vh;
  width: 100vw;
  padding: 5vw;
  background-color: $green;
}


form-view {
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
}

.formItem {
  width: 80%;
}

.form-tabs {
  width: 80vw;
  height: 80vh;
}

input-view {
  width: 75%;

  md-input-container {
    width: 100%;
  }
}

.fold2 {
  padding-right: 0;
  padding-top: 0;
}

.test {
  text-align: left;
  line-height: 0.1rem;
}

.contact-form {
  max-width: 50%;
}

textarea {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.117647);
  font-family: 'Regular';
}

md-list-item.education::before {
  display: none !important;
  min-height: 0px;
}

md-list-item input, md-list-item h3 {
  margin-right: .5em;
}

md-list-item h3 {
  margin-right: .2em;
}

md-list-item .md-no-style {
  padding: 0;
}

.success {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $green;

    .success-gorilla {
      width: 25vw;
      height: auto;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 50%;
      left: 0;
    }

    .success-text {
      margin-top: 50vh;
    }

}

md-tabs.md-dynamic-height md-tab-content.md-active {
  min-height: 70vh;

  md-content {
    min-height: 70vh;
  }
}

md-tab-content {
  min-height: 100%;
}

.next {
  position: absolute;
  bottom: 0;
  right: 1em;
}

@media (max-width: 600px) {

  .video-row {
    max-height: initial;
    height: auto;

    video {
      height: auto;
    }

    .green-text {
    max-height: initial;
    height: Auto;
    }
  }

  .startpage {
    padding: 5%;
  }

  .hmonk {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .hero {
    height: auto;

    h1 {
      margin-bottom: 0.67em !important;
      margin-top: 0.67em !important;
    }
  }

  .md-list-item-inner {
    max-width: 100vw;
    flex-flow: row wrap;
  }

  .fold1 {

    .md-button {
      width: 50%;
    }

    h2 {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  .contact-form {
    max-width: 80%;
  }

}

@media (max-width: 769px) and (min-width: 600px) {

  .video-row {
    max-height: initial;
    height: auto;

      video {
        height: auto;
    }

  }
  .hero-gorilla {
    width: 35vw;
    top: 50%;
      }

  .hmonk {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
      }

}

.jn-list {
  #scroll-container {
    max-height: 200px;
  }
  md-list {
    md-list-item {
      box-sizing: border-box;
      height: 40px;
      padding-top: 10px;
      border-bottom: 1px solid rgb(236, 236, 236);
      &.md-no-proxy {
        padding: 0;
      }
      &.no-data {
        span {
          width: 100% !important;
        }
      }
      span {
        font-size: 13px;
        height: 100%;
        display: inline-block;
        &:last-child {
          width: 48px;
        }
      }
      &.list-header {
        span {
          height: auto;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.54);
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .cg-below-fold {
    flex-wrap: nowrap;
    flex-direction: column;

    .cg-text-block, .progress-wrapper {
      width: 100vw;
      display: block;
      height: auto;
    }

    .cg-video-container {
      display: block;
      max-width: 100vw;
      width: 100vw;

      video {
        width: 100vw;
        max-width: 100vw;
      }
    }
  }
}

@media only screen
  and (max-width: 960px)
  and (orientation: landscape) {
    .cg-below-fold {
      flex-wrap: nowrap;
      flex-direction: column;

      .progress-wrapper, .cg-mbp {
        width: 100vw;
        display: block;
        height: 100vh;
        min-height: 100vh;
      }
    }

    .login-form {
      flex-direction: row;
      background-color: $green;
      height: 100vh;
      width: 100vw;

      & > div:first-child {
        width: 20vmax;
        max-width: 20vmax !important;

        md-icon {
          margin-left: 0;
        }
      }

      & > * {
        width: 40vmax;
        max-width: 40vmax !important;
      }
    }

    .tussenpagina {
      flex-wrap: nowrap;

      h3 {
        font-size: 1.2em;
      }
    }
}
