<section class="cg-col cg-center" id="cg-landing">
  	<img class="gorilla-animation" src="assets/video/animatie-monkey.gif" alt="">
  	<h1><span>&lt;code&gt;</span>gorilla</h1>
	<!-- <h1 typewrite text="'<code>'" type-delay="100" initial-delay="1s"></h1> -->
	<!-- <input style="color: #000;" typewrite text="'<code>gorilla'" type-delay="100" initial-delay="2s" blink-cursor="false"> -->
	<!-- <h2 ng-if="!$ctrl.mobileVideo">Do you need some code? We’ve got CodeGorillas!</h2> -->
    <p>
    	CodeGorilla is a bootcamp training-company. 
    	We transform people without any coding knowledge into 
    	full stack web developers over a course of three months. 
    	As the CodeGorillas state themselves: It’s a way of life!.
    </p>
    <p>
    	The CodeGorillas have started coding {{$ctrl.startDate}}, 
    	implementing agile working and entrepreneurial learning. 
    	This website is what the CodeGorillas made so far!
    </p>
    <ul class="left hand">
    	<li class="finger">&nbsp;</li>
    	<li class="finger">&nbsp;</li>
    	<li class="finger">&nbsp;</li>
    	<li class="finger">&nbsp;</li>
    </ul>
    <img class="monkey-animation" src="assets/images/monkey_half.png" alt="">
    <ul class="right hand">
    	<li class="finger">&nbsp;</li>
    	<li class="finger">&nbsp;</li>
    	<li class="finger">&nbsp;</li>
    	<li class="finger">&nbsp;</li>
    </ul>
</section>
<section id="cg-video-container">
	<h3>We made an awesome explainer video for you.</h3>
	<video id="teaser" poster="assets/images/poster.png" src="assets/video/code_gorilla.mp4" muted type="video/mp4" cg-video-on-scroll></video>
	<img src="assets/images/home_button.png" alt="" class="gorilla">
	<div id="video-controls">
	    <button ng-click="$ctrl.toggleMute()" id="mute"><ng-md-icon icon="{{$ctrl.soundIcon}}"></ng-md-icon></button>
	    <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
    </div>
</section>