<div class="signup-form" layout="column" layout-align="center center">
<md-content class="form-tabs" ng-init="vm.selectedTab = 0">
  <md-tabs md-stretch-tabs="auto" md-dynamic-height="true" md-selected="vm.selectedTab">


    <md-tab label="Bedrijfs gegevens">
      <md-content class="md-padding" layout="row" flex="100" layout-wrap>
        <div flex="100" flex-gt-sm="50" layout="row" layout-wrap layout-padding>
        <form name="vm.signupwgForm1" layout="row" layout-wrap>
          <md-input-container flex="100" flex-xs="100">
            <label>Bedrijf</label>
            <input type="text" ng-model="user.Bedrijf" required>
          </md-input-container>
          <md-input-container flex="100">
            <label>Soort bedrijf</label>
            <input type="text" ng-model="user.Soort_Bedrijf" required>
          </md-input-container>
          <md-input-container flex="100">
            <label>Gevestigd in</label>
            <input type="text" ng-model="user.Gevestigd_In" required>
          </md-input-container>
          <md-input-container flex="100">
            <label>Afdeling</label>
            <input type="text" ng-model="user.Afdeling" required>
          </md-input-container>
          <md-input-container flex="100">
            <label>Functie</label>
            <input type="text" ng-model="user.Functie" required>
          </md-input-container>
          <md-input-container flex="100">
            <label>Website</label>
            <input type="text" ng-model="user.Website" required>
          </md-input-container>
        </div>
        <div flex="100" flex-gt-sm="50" layout="column" layout-align="end end" layout-padding>
          <md-input-container flex="auto" layout="column" layout-align="end end">
            <md-button class="btn-green next" ng-click="vm.nextPage(user)">Volgende</md-button>
          </md-input-container>
          <label flex="5" style="color: red"><i>{{vm.errorMessage}}</i></label>
        </form>
        </div>
      </md-content>
    </md-tab>


    <md-tab label="Persoonlijke gegevens">
      <md-content class="md-padding" layout="row" flex="100" layout-wrap>
        <div flex="100" flex-gt-sm="50" layout="row" layout-wrap layout-padding>
        <form name="vm.signupForm1" layout="row" layout-wrap>
          <md-input-container flex="100" layout="row">
            <md-radio-group ng-model="user.Geslacht" layout="row">
              <md-radio-button value="Man" aria-label="Man">
                Man
              </md-radio-button>
              <md-radio-button value="Vrouw" aria-label="Vrouw">
                Vrouw
              </md-radio-button>
            </md-radio-group>
          </md-input-container>
          <md-input-container flex="33" flex-xs="100">
            <label>Voorletters</label>
            <input type="text" ng-model="user.Voorletters" required>
          </md-input-container>
          <md-input-container flex="66">
            <label>Voornaam</label>
            <input type="text" ng-model="user.Voornaam" required>
          </md-input-container>
          <md-input-container flex="33">
            <label>Tussenvoegsel(s)</label>
            <input type="text" ng-model="user.Tussenvoegsel">
          </md-input-container>
          <md-input-container flex="auto">
            <label>Achternaam</label>
            <input type="text" ng-model="user.Achternaam" required>
          </md-input-container>
          <md-input-container flex="100">
            <label>Geboortedatum (DD-MM-YYYY)</label>
            <input type="text" ng-model="user.Geboortedatum" required>
          </md-input-container>
          <md-input-container flex="100">
            <label>Straatnaam</label>
            <input type="text" ng-model="user.Straatnaam" required>
          </md-input-container>
          <md-input-container flex="50" flex-xs="100">
            <label>Huisnummer</label>
            <input type="number" ng-model="user.Huisnummer" required>
          </md-input-container>
          <md-input-container flex="50" flex-xs="100">
            <label>Toevoeging</label>
            <input type="text" ng-model="user.Toevoeging">
          </md-input-container>
        </div>
        <div flex="100" flex-gt-sm="50" layout="row" layout-wrap layout-padding>
          <md-input-container flex="40" flex-xs="100">
            <label>Postcode</label>
            <input type="text" ng-model="user.Postcode" required>
          </md-input-container>
          <md-input-container flex="60" flex-xs="100">
            <label>Plaatsnaam</label>
            <input type="text" ng-model="user.Plaatsnaam" required>
          </md-input-container>
          <md-input-container flex="100">
            <label>Land</label>
            <input type="text" ng-model="user.Land" required>
          </md-input-container>
          <md-input-container flex="100" flex-gt-xs="50">
            <label>Telefoonnummer</label>
            <input type="number" ng-model="user.Telefoonnummer" required>
          </md-input-container>
        <!--  <md-input-container flex="100" flex-gt-xs="50">
            <label>Mobiel</label>
            <input type="number" ng-model="user.Mobiel" required>
        </md-input-container> -->
          <md-input-container flex="100">
            <label>Emailadres</label>
            <input type="email" ng-model="user.Emailadres" required>
          </md-input-container>
          <md-input-container flex="100" layout="row" layout-align="end center">
            <div flex="auto" layout="row" layout-align="end end" layout-fill>
              <span ng-show="vm.mailStatus">{{vm.mailStatus}}</span>
              <md-button class="btn-green next" ng-click="vm.sendSignupwgForm(user)">Verzenden</md-button>
            </div>
          </md-input-container>
        </form>
        </div>
      </md-content>
    </md-tab>


        <!-- <div flex="auto" layout="row" layout-align="end end" layout-fill>
          <span ng-show="vm.mailStatus">{{vm.mailStatus}}</span>
          <md-button class="btn-green next" ng-click="vm.sendSignupwgForm(user)">Verzenden</md-button>
        </div>  -->



  </md-tabs>
</md-content>
</div>
