.tussenpagina {
  background-color: $red;
  width: 100vw;
  height: 100vh;

  img {
    max-width: 30vmin;
    align-self: center;
    cursor: pointer;
  }

  h3 {
    cursor: pointer;
    color: #FFFFFF;
    text-shadow: 1px 1px darken($blue, 30%);
  }
}

.tussenpagina .div {
  height: 100%;
}

@media (max-width: 960px) {

  .tussenpagina {
    // padding-top: 15vh;
  }

  .tussenpagina .div {
    height: 42.5%;
  }
}

@media (max-width: 600px) {
  .tussenpagina {

    h3 {
      font-size: 1.2em;
    }
  }

}
