profile {
  background-color: $blue;
  padding-top: 10vh;

  .card {

    margin: 2.5%;
    background-color: $red;
    height: 30vw;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 5px;

    h5 {
      position: relative;
      top: -5%;
      margin: 0;
      z-index: 1;
      color: #fff;
      text-align: right;
      padding-right: 1em;
    }

    img {
      max-width: 20vw;
      max-height: 50%;
      flex: 0 1 100%;
    }

    .card-content {
      padding: 1em;
      overflow: hidden;
    }

    .card-content h4 {
      margin: 0;
    }
  }

}

@media (max-width: 600px) {

  profile {
    .card {
      img {
        max-height: 100%;
        max-width: 50%;
      }
    }
    .card-content {
      font-size: .8em;
    }
  }
}
