<div class="card-container" flex="100" layout="row" layout-wrap layout-align="center">
  <div class="card" ng-repeat="profile in $ctrl.profiles" layout="column" layout-align="start stretch">
    <div class="card-image" flex="50">
      <img src="assets/images/profiles/{{profile.image}}" alt="">
    </div>

    <div class="card-content" flex="50" layout="column">
      <h5 hide-xs>{{profile.jobTitle}}</h5>
      <h4>{{profile.name}}</h4>
      <ul>
        <li ng-repeat="skill in profile.skills track by $index">{{skill}}</li>
      </ul>
    </div>
  </div>
</div>
