profile {
  background-color: $blue;
  padding-top: 10vh;

  .card {

    margin: 2.5vmin;
    flex: 1 1 20%;
    height: 30vmax;
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-radius: 10px;
    max-width: 20%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
   }
    h5 {
      position: relative;
      top: -5%;
      margin: 0;
      z-index: 1;
      color: #fff;
      text-align: right;
      padding-right: 1em;
    }

    img {
      max-width: 100%;
      width: 100%;
      flex: 0 1 100%;
    }

    .card-content {
      background-color: $red;
      padding: 1em;
      overflow: hidden;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .card-content h4 {
      margin: 0;
    }

}

@media ( min-width: 600px ) and ( max-width: 960px ) {

  profile {
    .card {
      flex: 0 1 45%;
      height: 50vmax;
      max-width: 100%;
    }
  }
}

@media (max-width: 600px) {

  profile {
    .card {

      flex: 1 1 100%;
      flex-direction: row;
      max-height: 40vmin;
      background: linear-gradient(to right, $blue, $red, $red);
      max-width: 100%;

      .card-image {

        display: block;
        max-width: 45vmin;
        width: 45vmin;

        img {
          max-height: 30vmin;
          max-width: 100%;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }

      .card-content {
        height: 100%;
        min-height: 100%;
        font-size: .8em;
      }
    }
    .card * {
      flex-wrap: nowrap;
    }
  }
}
